<div class="jumbotron bg-secondary">
	<div class="mx-auto" style="width: 400px;">
		<h1>Event <%= @event.title %></h1>
	</div>
</div>


<div class="container text-center">
<div class="row border border-dark rounded" >
	<div class="card w-100">
  		<div class="card-body">
    	<h5 class="card-title">Description</h5>
    <p class="card-text"><%= @event.description %></p>
  </div>

</div>
</div>
</div>


<div class="card-group">
<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><i class="far fa-calendar-alt"></i></h5>
    <p class="card-text"><%= @event.start_date %></p>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-calendar-alt"></i></h5>
    <p class="card-text"><%= @event_end %></p>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-map-marker-alt"></i></h5>
    <p class="card-text"><%= @event.location %></p>
  </div>
</div>
</div>

<div class="card-group">
<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-coins"></i></h5>
    <p class="card-text"><%= @event.price %> €</p>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-users"></i></i></h5>
    <p class="card-text"><%= @event.attendances.count %></p>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-user-tie"></i></h5>
    <p class="card-text"><%= @event.administrator.email %></p>
  </div>
</div>
</div>